*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

*:focus {
  border: none;
}

html {
  height: 100%;
  scroll-behavior: smooth;
  transition: 0.9;
}

ul,
ol {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

img {
  display: flex;
  object-fit: cover;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.8);
}

/* normalize css problem fixed */
h1 {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1200px; /* it depends on you project */
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
}

main {
  flex-grow: 1;
}

.hero {
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
}

.hero__container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}

.hero-bg-video {
  z-index: -1;
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
}

.hero__container-title {
  font-size: 60px;
}

.hero__container-link {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  color: #fff;
  font-size: 30px;
}

.hero__container-link:hover {
  color: rgb(12, 79, 75);
}

.hero__container-link:active {
  opacity: 0.4;
}

.hero__container-link:focus {
  outline: 2px solid black;
  outline-offset: 5px;
  border: 2px solid white;
}

.garden {
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
}

.garden__container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}

.garden__container-title {
  font-size: 60px;
}
.garden__container-description {
  font-size: 30px;
}

.btn-link {
  background-color: darkgray;
  color: darkslategray;
  padding: 15px 30px;
  border-radius: 20px;
  font-size: 20px;
  margin-bottom: 60px;
}

.btn-link:hover {
  background-color: #222;
  color: #fff;
}

.btn-link:active {
  opacity: 0.5;
}

.mountain {
  position: relative;
  background-color: rgba(0, 0, 0, 0.7);
}

.mountain__container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}

.mountain__container-title {
  font-size: 60px;
}
.mountain__container-description {
  font-size: 30px;
}

.desert {
  position: relative;
  background-color: rgba(0, 0, 0, 0.7);
}

.desert__container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}

.desert__container-title {
  font-size: 60px;
}
.desert__container-description {
  font-size: 30px;
}

.the-river {
  position: relative;
  background-color: rgba(0, 0, 0, 0.7);
}

.the-river__container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}

.the-river__container-title {
  font-size: 60px;
}

.the-river__container-description {
  font-size: 30px;
}

.links {
  display: flex;
  gap: 20px;
}

p {
  margin-bottom: 90px;
}
